.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 0.1rem;
  font-size: 0.9rem;
}

.portfolio__item p {
  margin: 1rem 0rem;
  font-size: 0.8rem;
}

.portfolio__item-cta {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  a {
    width: 100%;
    text-align: center;
  }
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1324px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
